﻿.dashnotice{
    font-size:20px;
    color:black;
    border-radius:5px;
}
@media only screen and (min-width: 876px) {
    .dashnotice{
        font-size:20px;
    }
}
@media only screen and (max-width: 867px) {
    .dashnotice{
        font-size:18px;
    }
}
@media only screen and (max-width: 520px) {
    .dashnotice{
        font-size:16px;
    }
}
.fallback {
    background-image: url('../../Images/avatar/img_avatar.png');
}
