﻿
@{
    ViewBag.Title = "Cources";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<div class="container">
    <!-- bootstrap-imageuploadp. -->
    <div class="imageuploadp panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Upload Image</h3>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default active">File</button>
                <button type="button" class="btn btn-default">URL</button>
            </div>
        </div>
        <div class="file-tab panel-body">
            <label class="btn btn-default btn-file">
                <span>Browse</span>
                <!-- The file is stored here. -->
                <input type="file" name="image-file">
            </label>
            <button type="button" class="btn btn-default">Remove</button>
        </div>
        <div class="url-tab panel-body">
            <div class="input-group">
                <input type="text" class="form-control hasclear" placeholder="Image URL">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">Submit</button>
                </div>
            </div>
            <button type="button" class="btn btn-default">Remove</button>
            <!-- The URL is stored here. -->
            <input type="hidden" name="image-url">
        </div>
    </div>
    <!-- bootstrap-imageuploadp method buttons. -->
    <button type="button" id="imageuploadp-disable" class="btn btn-danger">Disable</button>
    <button type="button" id="imageuploadp-enable" class="btn btn-success">Enable</button>
    <button type="button" id="imageuploadp-reset" class="btn btn-primary">Reset</button>

    <img src="https://s3.us-east-2.amazonaws.com/cmwkyc/profilepic/defaultprofilepic" alt="Alternate Text" />
</div>


