﻿
@{
    ViewBag.Title = "ForgatePassword";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="container">
    <div class="login-content">
        <div class="login-logo">
            <label class="label-default MinMax" style="font-size:xx-large;color:white;">Reset Your Password</label>
        </div>
        <div class="reg-form">
            <div class="row horizontal">
                @if (@ViewBag.Message == "")
                {

                }
                else
                {
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh snap!</strong><b> @ViewBag.Message </b>and try Register again.
                    </div>
                }
                <div id="divcard" class="card">
                    <div class="card-header">
                        <label class="label label-info">
                            Enter your email address that you used to register. We'll send you an email with Reset Password link.
                        </label>
                    </div>
                    <div id="foremail" class="card-body">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="ti-email"></i>
                            </span>
                            <input id="useremail" type="email" class="form-control col-md-10" name="email" placeholder="Email" autofocus />
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group col-md-offset-1 col-md-12">
                            <button id="verifymyaccount" type="submit" class="btn btn-primary btn-flat w-75">Send Reset Email</button>
                        </div>
                        <div class="form-group col-md-offset-4 col-md-12">
                            <a href="~/Home/Login">Sign In!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

