﻿
@{
    ViewBag.Title = "KYC";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
    <div class="container">
        <div class="kyc-form ">
            <div class="row card mt-3 border-radius-7">
                <div class="card-header text-center">
                    <label class="label  fs-30">KYC Verification</label>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="label  fs-21 text-primary">Pan Card Details:</label>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6">
                                <label class="label  fs-18">Pan Card No:</label>
                                <input type="text" id="kycpancardno" class="form-control" placeholder="Enter 10 Character PAN Card No" autofocus />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="label  fs-18">Pan Card Photo:</label>
                                <input type="file" name="Pancardfile" id="pancardfile" class="form-control-file" accept="image/*" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label  fs-21  text-primary">Address Details:</label>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6">
                                <input type="text" id="kycpin" class="form-control" placeholder="Enter 6 Digit Pin Postal Code" />
                            </div>
                            <div class="form-group col-md-6">
                                <select id="kycstate" class="form-control">
                                    <option class="active" value=""> ---Select State--- </option>
                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Orissa">Orissa</option>
                                    <option value="Pondicherry">Pondicherry</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttaranchal">Uttaranchal</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="West Bengal">West Bengal</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6">
                                <select id="kycaddrproof" class="form-control">
                                    <option class="active">---Select Address Proof---</option>
                                    <option >Aadhar</option>
                                    <option >Driving Licence</option>
                                    <option >Passport</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" id="kycaadharno" class="form-control" placeholder="Select Address Proof First" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6">
                                <label class="label  fs-18">Front Side:</label>
                                <input type="file" name="Frontsidefile" id="frontsidefile" class="form-control-file" accept="image/*" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="label  fs-18">Back Side:</label>
                                <input type="file" name="Backsidefile" id="backsidefile" class="form-control-file" accept="image/*" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group col-lg-offset-4 col-md-6">
                        <button id="btnsubmitkyc" class="btn btn-primary btn-lg border-radius-7">Submit KYC Form</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
