﻿@model ChangeMakers.ViewModels.SignUpViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Images/Backgroung/password-13.jpeg');">
            <div class="wrap-login100">
                    <span class="login100-form-title p-b-20 p-t-10">
                        Log in
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter Your Username">
                        <input id="username" class="input100 rem" type="text" name="username" placeholder="Username" autofocus>
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Your Password">
                        <input id="userpass" class="input100 rem" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    @*<div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>*@
                    <div class="text-center pull-right p-b-20">
                        <a  id="forgotbtn" class="link" href="#">Forgot Password?</a>
                    </div>
                    <div class="container-login100-form-btn">
                        <button id="Loginbtn" class="login100-form-btn validate-form">
                            Login
                        </button>
                    </div>
                    <div id="forsignup" class="text-center p-t-20">
                        <a class="link" href="~/User/Registration">Not a Member? Sign Up Now!</a>
                        <div id="reverifydiv>">
                            <a id="ReVerify" class="link-active" href="#">Activate Your Account Now!</a>
                        </div>
                    </div>
            </div>

        </div>
    </div>
}
