﻿@model ChangeMakers.Models.MemberViewModel

@{
    ViewBag.Title = "Referral Program";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<div class="container">
    <div class="card" style="border-radius: 5px;">
        <h3 class="text-center card-header header-text">Referral Program</h3>
        <div class="card-body">
            <h5 class="card-title">Generate your referral link and share it to earn referral bounties.
            This genereted link is valid only for 24 hours. </h5>
            You can share this referral link on any social media network like facebook , whatsapp or email. 
            <div class="form-row mt-3">
                <div class="col-md-4" style="margin-top:10px;">
                    <input id="GenerateRU" type="submit" class="btn btn-lg btn-success btn-block border-radius-2" value="Generate Refer Url">
                </div>
                <div class="input-group col-md-8">
                    <input type="text" name="text" id="txturl" class="form-control max-w-full"
                           style="border:1px solid #d3d4d6; border-right:none; box-shadow:none;
                            max-height: 50px;margin-top: 8px;" placeholder="URL" readonly/>
                    <div class="input-group-append mt-2">
                        <span class="input-group-text" id="basic-addon2" style="height: 50px;">
                        <input class="btn btn-info" id="btncopy" type="button" value="Copy" /></span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="card" style="border-radius: 5px;">
        <div class="card-body">
            <div class="card-title text-center">
                <div class="list-inline">
                   <label class="label label-info pull-left fs-18">Total Members &nbsp;<span class="badge badge-info">@ViewBag.MyMember.Count</span></label> 
                    <label class="label label-info pull-right fs-18">Total Referral Incentive &nbsp;<span class="badge badge-info">@ViewBag.TotalRefInc</span></label>
                    <label class="text-center fs-20 m-r-30">Referred Members</label> 
                </div>
            </div>
            @*<img class="col-md-10 col-lg-offset-3 w-75"  src="~/Images/Members/binary.png" />*@
          
        </div>
        <table class="table table-hover" style="max-width: 90%;margin-left: 5%;">
            @{
                if (ViewBag.MyMember.Count > 0)
                {

                    <thead>
                            <tr>
                                <td><b>#</b></td>
                                <td><b>Member Name</b></td>
                                <td><b>Level</b></td>
                                <td><b>Incentive</b></td>
                            </tr>
                    </thead>
                        int index = 1;
                    <tbody>
                        @foreach (var users in ViewBag.MyMember)
                        {

                        <tr>
                            <td>@index</td>
                            <td>@users.FirstName @users.LastName</td>
                            <td>@users.Level</td>
                            <td>@users.Incentive</td>
                        </tr>
                            index++;
                        }
                    </tbody>
                }
                else
                {
                <tbody>
                    <tr>
                        <td></td><td class="text-danger"> You Have No Members</td>
                    </tr>
                </tbody>
                }

            }
                        
        </table>
        @*<ul class="list-group list-group-flush p-l-20 p-r-20">
            @{
                if (ViewBag.MyMember.Count>0)
                {
                    foreach (var users in ViewBag.MyMember)
                    {
                        <li class="list-group-item">@users</li>
                    }
                }
                else
                {
                    <li class="list-group-item text-danger">You Have No Members</li>
                }

            }
           
        </ul>*@
    </div>
</div>