﻿@model ChangeMakers.Models.MemberViewModel

@{
    ViewBag.Title = "Referral-Program";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}


<div class="card">
    <h3 class="text-center card-header header-text">Referral Program</h3>
    <div class="card-body p-l-20 p-t-20 p-r-10">
        <h5 class="card-title">contents</h5>
        <div id="divcheckdid" class="checkbox">
            <input id="inputcheckid" type="checkbox" name="" value="Accept" />&nbsp;I have read and agree to the <a class="link-active" href="#">Terms, Conditions</a> and <a class="link-active" href="#">Privacy Policy</a>.
        </div>
        <div id="msg"></div>
        <div class="button">
            <input id="btnAccept" class="btn btn-success" type="button" name="name" value="Accept" />
        </div>
    </div>
</div>
