﻿@model ChangeMakers.ViewModels.SignUpViewModel

@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}
<div class="">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../../Images/Backgroung/2_thum_animated_background.gif');">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-34 p-t-27">
                            Registration
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <input class="input100 rem" type="text" name="username" placeholder="Username" autofocus>
                           <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter First Name">
                            <input class="input100 rem username" type="text" name="firstname" placeholder="First Name">
                            <span class="focus-input100" data-placeholder="&#xf205;"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter Last Name">
                            <input class="input100 rem username" type="text" name="lastname" placeholder="Last Name">
                            <span class="focus-input100" data-placeholder="&#xf205;"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter Valid Email">
                            <input class="input100 rem" type="text" name="email" placeholder="Email">
                            <span class="focus-input100" data-placeholder="&#xf201;"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter Mobile No">
                            <input class="input100 rem" type="text" name="mobileno" placeholder="Mobile No">
                            <span class="focus-input100" data-placeholder="&#xf248;"></span>
                        </div>
                        <div class="wrap-input100">
                           <section >
                               <select name="my_html_select_box" class="input100" style="border:none;background-color:transparent;width:100%;">
                                   <option class="active">--Select No of Kits--</option>
                                   <option>25 (Level-1)</option>
                                   <option>18 (Level-2)</option>
                                   <option>12 (Level-3)</option>
                                   <option>9 (Level-4)</option>
                                   <option>6 (Level-5)</option>
                                   <option>3 (Level-6)</option>
                                   <option>2 (Level-7)</option>
                                   <option>1 (Level-7)</option>
                               </select>
                           </section>
                        </div>          
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100 rem" type="password" name="pass" data-toggle="tooltip" title="Valid!" placeholder="Password">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Confirm password">
                            <input class="input100 rem" type="password" name="pass" placeholder="Confirm-Password">
                            <span class="focus-input100" data-placeholder="&#xf190;"></span>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn validate-form">
                                Sign Up
                            </button>
                        </div>

                        <div class="text-center m-t-10">
                            <a class="link" href="#">
                               <h4>Forgot Password?</h4> 
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

