﻿
@{
    ViewBag.Title = "TreeView";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}


<h2>Tree View</h2>
<div class="card-body">
    <a id="Level_1" class="btn btn-outline-primary btn-lg" href="#" role="button">Level-1</a>
    <a id="Level_2" class="btn btn-outline-primary btn-lg" href="#" role="button">Level-2</a>
    <a id="Level_3" class="btn btn-outline-primary btn-lg" href="#" role="button">Level-3</a>
    <a id="Level_4" class="btn btn-outline-primary btn-lg" href="#" role="button">Level-4</a>
    <a id="Level_5" class="btn btn-outline-primary btn-lg" href="#" role="button">Level-5</a>
    <a id="Level_6" class="btn btn-outline-primary btn-lg" href="#" role="button">Level-6</a>
</div>
<div class="container">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div id="parant" class="col-md-12">
                    <div id="child" class="card">
                        <div class="card-header">
                            <strong class="card-title">Users List</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Full Name</th>
                                        <th>Mobile No</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody">
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

</div>



