﻿@model ChangeMakers.Models.tblMember

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}
<style>
    .container1 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 90%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  display:block;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius:48%;
  -webkit-transform:scale(0);
  transition: .5s ease;
}

.container1:hover .overlay {
  transform: scale(1);
  opacity:.95;
  display:block;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.picture-src{
    width: 100%;
    
}
/*Profile Pic End*/
</style>

@using (Html.BeginForm())
{
    <div class="container">
        <div class="card col-md-3" style="padding:0;">
            <div class="card-header">
                <strong>User Profile</strong>
            </div>
            <div class="card-body">
                <div class="mx-auto d-block">
                    <div class="container1">
                        <img id="userProfile" src="@ViewBag.UserProfilePic" class="image rounded-circle mx-auto d-block" />
                        <div class="overlay">
                            <div class="text1 rounded-circle mx-auto d-block pull-right">
                                <a class="ti-anchor pt-4" href="#" data-toggle="modal" data-target="#myModal">Change Profile Pic</a>
                            </div>
                        </div>
                    </div>
                    @*<img class="rounded-circle mx-auto d-block" src="~/Images/admin.jpg" alt="Card image cap">*@
                    <h5 class="text-sm-center mt-2 mb-1">@ViewBag.Collection.FirstName @ViewBag.Collection.LastName</h5>
                    @*<div class="location text-sm-center"><i class="fa fa-map-marker"></i> California, United States</div>*@
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
            <div class="panel-footer mb-3 text-center">
                <a href="#" class="btn btn-block btn-info col-md-10" id="btnuserUpdate" data-toggle="modal" data-target="#EditUserModal">Edit</a>
                <a href="#" class="btn btn-block btn-info col-md-10" id="btnchngpsw" data-toggle="modal" data-target="#ChangeUserModal">Change Password</a>
            </div>
        </div>
        <div class="col-md-9 mt-4">
            <input type="hidden" value="@ViewBag.MemberId" id="HiddenMemberId" />
            <input type="hidden" value="@ViewBag.TotakKits" id="HiddenKit" />
            <input type="hidden" value="@ViewBag.MyRefCode" id="HiddenRefCode" />

            <table class="table table-responsive">
                <tr>
                    <td> <label><b>Name:</b> </label></td>
                    <td><label class="label label-default" id="PUserName"></label></td>
                </tr>
                <tr>
                    <td><label><b>First Name:</b></label></td>
                    <td><label class="label label-default" id="PFirstName"></label></td>
                </tr>
                <tr>
                    <td><label><b>Last Name:</b></label></td>
                    <td><label class="label label-default" id="PLastName"></label></td>
                </tr>
                <tr>
                    <td><label><b>Email:</b></label></td>
                    <td><label class="label label-default" id="PEmail"></label></td>
                </tr>
                <tr>
                    <td><label><b>Mobile No:</b></label></td>
                    <td><label class="label label-default" id="PMobileNo"></label></td>
                </tr>
                <tr>
                    <td><label><b>No of Kits:</b></label></td>
                    <td><label class="label label-default" id="PLevelId"></label></td>
                </tr>
            </table>
        </div>

        @*  modal for Edit Details*@
        <div class="modal fade" id="EditUserModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header ">
                        <h3 class="modal-title col-md-11" id="UserModalTitle">Update Details</h3>
                        <button type="button" class="close col-md-1" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="forfirstname" class="form-group">
                            <input type='text' id='PEFirstName' class='form-control username w-100' placeholder='First Name*' />
                        </div>
                        <div id="forlastname" class="form-group">
                            <input type='text' id='PELastName' class='form-control username' placeholder='Last Name*' />
                        </div>
                        <div id="formobileno" class="form-group">
                            <input type='text' id='PEMobileNo' class='form-control UserMobileNo' placeholder='Mobile No*'/>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-success" id="btnUpdate">Update</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        @*Model for change password*@
        <div class="modal fade" id="ChangeUserModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header ">
                        <h3 class="modal-title col-md-11" id="ChangeModalTitle"> Change Password</h3>
                        <button type="button" class="close pull-right col-md-1" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="foroldpass" class="form-group">
                            <input type='password' id='PEOldPassword' class='form-control' placeholder='Enter Old Password*' />
                        </div>
                        <div id="fornewpass" class="form-group">
                            <input type='password' id='PENewPassword' class='form-control' placeholder='Enter New Password*' />
                        </div>
                        <div id="forrepass" class="form-group">
                            <input type='password' id='PERePassword' class='form-control' placeholder='Confirm Password*' />
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-success" id="btnChangepswd">Change Password</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><h4 class="modal-title col-md-11" id="exampleModalLabel">Upload Your Profile Image</h4>
                        <button type="button" class="close col-md-1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-info">Profile picture should be between 5-500 kb and choose file type jpg and png only</p>
                        <div class="imageuploadp col-md-12">
                           <input id="userprofilepic" class="col-md-8" type="file" name="image-file">
                           <button type="button" class="btn btn-outline-danger pull-right"
                                    id="btnremoveimg">Remove</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button id="btnsaveimage" type="button" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>    
}

