﻿

/*////////////         Manual   CSS             //////////////*/

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}
/*
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
    */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    height:20%;
    width:20%;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}



span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.MinMax{
    font-size:xx-large;
    color:white;
    margin-top:-10px;
}
.header-text{
    font-size:30px;
}
@media screen and (max-width: 300px) {
   .header-text{
       font-size:18px;
   }
}
@media screen and (max-width: 500px) {
   .header-text{
       font-size:20px;
   }
}
.form-contents{
    margin:30px 30px 30px 30px;
    border:3px solid #e6e6e6;
    padding:30px 40px 30px 50px;
}
.card:hover {
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.info{
     background-color: #e7f3fe; border-left: 6px solid #2196F3;
}



/*//////////////////////////////////////////////    Cources        /////////////////////////////////////////////////*/

@media only screen and (min-width: 876px) {
  .panel-title {
    font-size: 22px;
  }
}
@media only screen and (max-width: 867px)
{
    .panel-title{
        font-size: 18px;
   }
}
@media only screen and (max-width: 600px)
{
    .panel-title{
        font-size: 14px;
   }
}
@media only screen and (min-width: 876px) {
  .panel-body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 867px)
{
    .panel-body{
        font-size: 14px;
   }
}
@media only screen and (max-width: 600px)
{
    .panel-body{
        font-size: 12px;
   }
}
@media only screen and (min-width: 876px) {
  .chain {
    font-size: 24px;
  }
}
@media only screen and (max-width: 867px)
{
    .chain{
        font-size: 20px;
   }
}
@media only screen and (max-width: 600px)
{
    .chain{
        font-size: 16px;
   }
}
@media only screen and (min-width: 876px) {
  .image-font {
    width: 260px;
    height: auto;
  }
}
@media only screen and (max-width: 867px)
{
    .image-font{
        width: 200px;
        height: auto;
   }
}
@media only screen and (max-width: 600px)
{
    .image-font{
        width: 150px;
        height: auto;
   }
}

.color-font{
    color: red;
}