﻿@{
    Layout = null;
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" style="border-radius:5%">
    <title>Change Makers</title>
    <meta name="description" content="Changemakersworld - Customer Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="~/Resources/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Resources/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Resources/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Resources/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Resources/assets/css/cs-skin-elastic.css">
    <link href="~/Content/ImageUpload/bootstrap-imageupload.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/util.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Resources/assets/scss/style.css">
    <link href="~/Resources/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>
<body>


    <!-- Left Panel -->

    @*<aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-brand">
                    <img src="../Images/apple-icon-57x57.png" style="margin-left:5px;margin-right:5px;border-radius:50%" />
                    <a class="navbar-brand" href="~/Home/Index">Change Makers</a>
                </div>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="~/Home/Index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                        <a href="~/User/TreeView"> <i class="menu-icon fa fa-map-o"></i>Tree Level</a>
                        <a href="~/User/UserProfile"> <i class="menu-icon fa ti-face-smile"></i>Profile </a>
                        <a href="~/User/Referral"> <i class="menu-icon fa ti-gift"></i>Referral Program </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->*@

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-brand">
                    <img src="../Images/apple-icon-57x57.png" style="margin-left:5px;margin-right:5px;border-radius:50%" />
                    <a class="navbar-brand" href="~/Home/Index">Change Makers</a>
                </div>
                <a class="navbar-brand hidden" href="./"><img src="../Images/apple-icon.png" style="margin-left: 0px;height: 30px;margin-right: 10px;border-radius:50%" /></a>


            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="~/Home/Index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                        <a href="~/User/TreeView"> <i class="menu-icon fa fa-map-o"></i>Tree Level</a>
                        <a href="~/User/UserProfile"> <i class="menu-icon fa ti-face-smile"></i>Profile </a>
                        <a href="~/User/Referral"> <i class="menu-icon fa ti-gift"></i>Referral Program </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <div class="dropdown for-notification ml-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="@ViewBag.UserProfilePic" alt="User Avatar">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#">@Html.ActionLink("Profile", "UserProfile", "User")</a>
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>
                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>
                            <a class="nav-link" href="#">@Html.ActionLink("KYC", "KYC", "User")</a>
                            <a class="nav-link" href="#">@Html.ActionLink("Logout", "Logout", "Home")</a>
                        </div>
                    </div>
                    <div class="pull-right">
                        <label class="label label-primary norm_align" style="font-size:large">@ViewBag.Collection.FirstName @ViewBag.Collection.LastName</label>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->
        <div class="breadcrumbs">
            @*<div class="col-md-12">
                <div class="page-header float-left">
                    <div class="page-title" style="width:400px">
                        @{
                            if (ViewBag.AuthRefName == "")
                            {
                                <h1><b>DashBoard</b></h1>
                            }
                            else
                            {
                                <div class="header-text">
                                    Referred By:<b> @ViewBag.AuthRefName</b>(@ViewBag.AuthRefCode)
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="page-title float-right">
                    <div class="page-title">
                        @{
                            if (ViewBag.MyRefCode == "")
                            {
                            }
                            else
                            {
                                <h5>My Referral Code:<b  id="myrefercode">@ViewBag.MyRefCode</b></h5>
                            }
                        }
                    </div>
                </div>
            </div>*@
        </div>
        <input type="hidden" name="RC" id="myrefercode" value="@ViewBag.MyRefCode"/>
        <div class="content mt-3">
            @RenderBody()
            <footer>
            </footer>
        </div>
    </div>


    <!-- .content -->
    <!-- /#right-panel -->
    <!-- Right Panel -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Resources/assets/js/plugins.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>*@

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="~/Resources/assets/js/plugins.js"></script>
    <script src="~/Scripts/bootstrap.js"></script> 
    <script src="~/Scripts/ImageUpload/bootstrap-imageupload.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.min.js"></script>
    <script src="~/Scripts/UserJavaScript.js"></script>
    <script src="~/Scripts/Site.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/Scripts/Axios/axios.js"></script>
    <script src="~/Scripts/Clipboard/clipboard.js"></script>
    <script src="~/Resources/assets/js/main.js"></script>
    <script src="~/Resources/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="~/Resources/assets/js/dashboard.js"></script>
    <script src="~/Resources/assets/js/widgets.js"></script>
    <script src="~/Resources/assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="~/Resources/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="~/Resources/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/Resources/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    @*<script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>*@

</body>
</html>
