﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-Change Makers World</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Customer Portal - Change Makers World">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    <link rel="stylesheet" href="~/Resources/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Resources/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Resources/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Resources/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Resources/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/Resources/assets/scss/style.css">
    <link href="~/Resources/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/m-p-fs/util.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.min.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @*<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.min.js"></script>
    <script src="~/Scripts/UserJavaScript.js"></script>
    <script src="~/Scripts/Verification.js"></script>
    <script src="~/Scripts/Site.js"></script>*@

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.min.js"></script>
    <script src="~/Scripts/UserJavaScript.js"></script>
    <script src="~/Scripts/Verification.js"></script>
</body>
</html>
