﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
       @{
           Layout = null;
    }

  
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Change Makers</title>
        <meta name="description" content="Sufee Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="~/Images/favicon.ico">
        <link rel="stylesheet" href="~/NewFolder/assets/css/normalize.css">
        <link rel="stylesheet" href="~/NewFolder/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/NewFolder/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/NewFolder/assets/css/themify-icons.css">
        <link rel="stylesheet" href="~/NewFolder/assets/css/flag-icon.min.css">
        <link rel="stylesheet" href="~/NewFolder/assets/css/cs-skin-elastic.css">
        <!-- <link rel="stylesheet" href="~/NewFolder/assets/css/bootstrap-select.less"> -->
        <link rel="stylesheet" href="~/NewFolder/assets/scss/style.css">
        <link href="~/NewFolder/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    </head>
    <body>


        <!-- Left Panel -->

        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="./">Change Makers</a>
                    <a class="navbar-brand hidden" href="./"><img src="~/Images/logo2.png" alt="Logo"></a>
                </div>
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                            <a href="index.html"> <i class="menu-icon fa fa-map-o"></i>Total Tokens</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside><!-- /#left-panel -->
        <!-- Left Panel -->
        <!-- Right Panel -->

        <div id="right-panel" class="right-panel">

            <!-- Header-->
            <header id="header" class="header">

                <div class="header-menu">

                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <div class="header-left">
                            <div class="form-check-input">
                                <img src="../Images/favicon-32x32.png" style="margin-left:10px;" />
                            </div>
                            <div class="dropdown for-notification ml-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="count bg-danger">5</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="notification">
                                    <p class="red">You have 3 Notification</p>
                                    <a class="dropdown-item media bg-flat-color-1" href="#">
                                        <i class="fa fa-check"></i>
                                        <p>Server #1 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-4" href="#">
                                        <i class="fa fa-info"></i>
                                        <p>Server #2 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-5" href="#">
                                        <i class="fa fa-warning"></i>
                                        <p>Server #3 overloaded.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="~/Images/admin.jpg" alt="User Avatar">
                            </a>
                            <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#SubmitAddedAdminForm"><i class="fa fa- user"></i>Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                                <a class="nav-link" href="#">@Html.ActionLink("Logout", "Logout", "Home")</a>
                            </div>
                        </div>
                        <div class="pull-right">
                            <label class="label label-primary norm_align">@ViewBag.UserName</label>
                        </div>
                    </div>
                </div>

            </header><!-- /header -->
            <!-- Header-->
            <div class="breadcrumbs">
                <div class="col-md-12">
                    <div class="page-header float-left">
                        <div class="page-title" style="width:400px">
                            @{
                                if (ViewBag.AuthRefName == "")
                                {
                                    <h1><b>DashBoard</b></h1>
                                }
                                else
                                {
                                    <h1>Referred By:<b> @ViewBag.AuthRefName</b>(@ViewBag.AuthRefCode)</h1>
                                }
                            }
                        </div>
                    </div>
                    <div class="page-header float-right">
                        @{
                            if (ViewBag.MyRefCode == "")
                            {
                            }
                            else
                            {
                                <h1><b>My Referral Code:@ViewBag.MyRefCode</b></h1>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="content mt-3">
                <div class="col-xl-3 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Total Tokens</div>
                                    <div class="stat-digit count">@ViewBag.TotalTokens</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Badge</div>
                                    <div class="stat-digit count">961</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Active Members</div>
                                    <div class="stat-digit count">@ViewBag.ActiveMembers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Badge</div>
                                    <div class="stat-digit count">961</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- .content -->
        <!-- /#right-panel -->
        <!-- Right Panel -->

        <script src="~/NewFolder/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="~/NewFolder/assets/js/plugins.js"></script>
        <script src="~/NewFolder/assets/js/main.js"></script>

        <script src="~/NewFolder/assets/js/lib/chart-js/Chart.bundle.js"></script>
        <script src="~/NewFolder/assets/js/dashboard.js"></script>
        <script src="~/NewFolder/assets/js/widgets.js"></script>
        <script src="~/NewFolder/assets/js/lib/vector-map/jquery.vmap.js"></script>
        <script src="~/NewFolder/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
        <script src="~/NewFolder/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
        <script src="~/NewFolder/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
        <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
        </script>

    </body>
</html>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>