﻿@{ 
    Layout = null;
}

<!doctype html>

<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" style="border-radius:5%">
    <title>Change Makers</title>
    <meta name="description" content="Changemakersworld - Customer Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/Images/favicon.ico">
    <link rel="stylesheet" href="~/Resources/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Resources/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Resources/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Resources/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Resources/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="~/Resources/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="~/Resources/assets/scss/style.css">
    <link href="~/Resources/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href="~/Content/Custom/Custom.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-brand">
                    <img src="../Images/apple-icon-57x57.png" style="margin-left:5px;margin-right:5px;border-radius:50%" />
                    <a class="navbar-brand" href="~/Home/Index">Change Makers</a>
                </div>
                <a class="navbar-brand hidden" href="./"><img src="../Images/apple-icon.png" style="margin-left: 0px;height: 30px;margin-right: 10px;border-radius:50%" /></a>
                                                                                                                                    
                                                                                                                                                                
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="~/Home/Index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                        <a href="~/User/TreeView"> <i class="menu-icon fa fa-map-o"></i>Tree Level</a>
                        <a href="~/User/UserProfile"> <i class="menu-icon fa ti-face-smile"></i>Profile </a>
                        <a href="~/User/Referral"> <i class="menu-icon fa ti-gift"></i>Referral Program </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->
    <input type="hidden" value="@ViewBag.MemberId" id="HiddenMemberId" />

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <div class="dropdown for-notification ml-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="@ViewBag.UserProfilePic" alt="User Avatar">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#" >@Html.ActionLink("Profile", "UserProfile", "User")</a>
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>
                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>
                            <a class="nav-link" href="#">@Html.ActionLink("KYC", "KYC", "User")</a>
                            <a class="nav-link" href="#">@Html.ActionLink("Logout", "Logout", "Home")</a>
                        </div>
                    </div>
                    <div class="pull-right">
                        <label class="label label-primary norm_align" style="font-size:large">@ViewBag.UserName @ViewBag.UserLName</label>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->
        <div class="breadcrumbs">
           
        </div>

        <div class="content mt-3">
            
            @{
                if (ViewBag.RequiredKit > 0)
                {
                    <div class="col-sm-12">
                        <div class="alert  alert-warning alert-dismissible fade show" role="alert">
                            <span class="badge badge-pill badge-warning">Message</span> Your<b> @ViewBag.RequiredKit</b> Kits are still Pending!!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                }
            }
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Total Tokens</div>
                                <div class="stat-digit count">@ViewBag.TotalTokens</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Badge</div>
                                <div class="stat-digit count">961</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <a href="~/User/Referral">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Referral Members</div>
                                    <div class="stat-digit count">@ViewBag.MyMember.Count</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Total Member</div>
                                <div class="stat-digit count">@ViewBag.TotalReg</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <div class="p-3" style="background-color: #cce9fd; border-left: 6px solid #2196F3;">
                    <p class="dashnotice">
                        <strong>
                            <b> Notice!</b>
                        </strong>&nbsp;
                            These tokens are locked in for early withdrawl under the tenure of 6
                            MONTHS started from 1st june, 2018 till 1st December, 2018. Once the Lock-in tenure will be finished,
                            all users will be invited for an account upgrade and will get access for trading, withdrawl and exchange of RME Utility Token.
                    </p>
                </div>
            </div>
         </div>
     </div>
  
    
            <!-- .content -->
            <!-- /#right-panel -->
            <!-- Right Panel -->

            <script src="~/Resources/assets/js/vendor/jquery-2.1.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
            <script src="~/Resources/assets/js/plugins.js"></script>
            <script src="~/Resources/assets/js/main.js"></script>

            <script src="~/Resources/assets/js/lib/chart-js/Chart.bundle.js"></script>
            <script src="~/Resources/assets/js/dashboard.js"></script>
            <script src="~/Resources/assets/js/widgets.js"></script>
            <script src="~/Resources/assets/js/lib/vector-map/jquery.vmap.js"></script>
            <script src="~/Resources/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
            <script src="~/Resources/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
            <script src="~/Resources/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
            <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
            </script>

</body>
</html>
