﻿@model ChangeMakers.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="login-content">
                <div class="login-logo">
                    <label class="label-default MinMax" style="font-size:xx-large;color:white;">User Login </label>
                </div>
                @if ((ViewBag.LoginMessage == "") || (ViewBag.LoginMessage == null))
                {
                    if ((ViewBag.VerifyMsg != "") && (ViewBag.VerifyMsg != null))
                    {
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Oh snap!</strong><b> @ViewBag.VerifyMsg </b>@*@Html.ActionLink("Click here to Verification", "Verification", "User")*@
                            <a href="#" class="link-active ReVerify" id="ReVerif">Click here to Verification</a>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh snap!</strong><b> @ViewBag.LoginMessage </b>and try login again.
                    </div>
                }
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>User Name: </label>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @autofocus="", @placeholder="User Name*" } })
                             @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Password: </label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password*" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="checkbox">
                            @*<label>
                                <input type="checkbox"> Remember Me
                            </label>*@
                            <label class="pull-right m-t-10">
                                @*<a href="/User/ForgatePassword">Forgotten Password?</a>*@
                                <a href="#" id="forgotbtn">Forgot Password?</a>
                            </label>
                        </div>
                        <button id="Loginbtn" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30 border-radius-10">
                        Sign in</button>
                        @*<div class="social-login-content">
                                <div class="social-button">
                                    <div class="col-md-6">
                                        <button type="button" class="btn social facebook btn-flat btn-addon mb-2"><i class="ti-facebook ml--22"></i>Sign in with facebook</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn social twitter btn-flat btn-addon mb-2"><i class="ti-twitter ml--22"></i>Sign in with twitter</button>
                                    </div>

                                 </div>
                            </div>*@ 
                        <div class="register-link p-b-30 text-center">
                            <p>Don't have an account ? <a href="~/Home/Registration"> Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
    
  