﻿@model ChangeMakers.Models.MemberViewModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                    <div class="login-logo">
                        <label class="label-default MinMax" style="font-size:xx-large;color:white;">User Registration</label>
                    </div>
                    @if (@ViewBag.Message == "")
                    {

                    }
                    else
                    {
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Oh snap!</strong><b> @ViewBag.Message </b>and try Register again.
                        </div>
                    }
                    <div class="reg-form">
                        <form>
                            <div class="row horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                </div>

                                <div class="form-group col-md-6">
                                    <div id="usernamediv" class="col-md-11">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new {@id= "UserName", @class = "form-control", @placeholder = "User Name*" } })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-11">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @id = "FirstName", @class = "form-control", @placeholder = "First Name*" } })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-11">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @id = "LastName", @class = "form-control", @placeholder = "Last Name*" } })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-11">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "Email", @class = "form-control", @placeholder = "Email*" } })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-11">
                                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @id = "MobileNo", @class = "form-control", @placeholder = "Mobile No*" } })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-11">
                                        @Html.DropDownListFor(x => x.LevelId, new SelectListItem[]{
                                                        new SelectListItem() {Text = "9", Value="9"},
                                                        new SelectListItem() {Text = "6", Value="6"},
                                                        new SelectListItem() {Text = "3", Value="3"},
                                                        new SelectListItem() {Text = "1", Value="1"}}, "--Select No of Kits--",
                                                        new { @class = "form-control", @id = "NoOfKits" })
                                    </div>
                                </div>
                                <div id="passdiv" class="form-group col-md-6">
                                    <div class="col-md-11">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "Password", @class = "form-control", @placeholder = "Password*" } })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div id="cpassdiv" class="col-md-11">
                                        @Html.EditorFor(model => model.ConfPass, new { htmlAttributes = new { @id = "ConfPassword", @class = "form-control", @placeholder = "Confirm-Password*", @onchange = "Matchpass();" } })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-11">
                                        @Html.EditorFor(model => model.ReferralCode, new { htmlAttributes = new { @id = "ReferralCode", @class = "form-control", @placeholder = "Referral Code(Optional)" } })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="checkbox col-md-12">
                                        <label>
                                            <input id="policy" type="checkbox"> Agree the terms and policy
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="form-group col-md-9">
                                    <button type="submit" id="SubmitMembers" style="width:225px" class="btn btn-primary btn-flat">Register</button>
                                </div>
                                <div class="social-button mt-2 col-md-12">
                                    <div class="col-md-6">
                                        <button type="button" class="btn social facebook btn-flat btn-addon mt-2 mb-2"><i class="ti-facebook ml--22"></i>Register with facebook</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" style="background-color:#d34836; color:white" class="btn social google-plus btn-flat  mt-2 mb-2"><i class="ti-google fa-google-plus ml--22"></i>Register  with  google+</button>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="register-link m-t-15 text-center">
                                        <p>Already have account ? <a href="~/Home/Login"> Sign in</a></p>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
</div>




