﻿@model ChangeMakers.Models.MemberViewModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="container" >
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                    <div class="login-logo" >
                        <label class="label-default MinMax" style="font-size:xx-large;color:white;">User Registration</label>
                    </div>
                    @{
                        if (ViewBag.Message == "")
                        {

                        }
                        else
                        {
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Oh snap!</strong><b> @ViewBag.Message </b>and try Register again.
                        </div>
                            }
                        }
                    <div class="reg-form">
                        <form >
                            <div class="row horizontal m-t-20">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                </div>

                                <div class="form-group col-md-6">
                                    <div id="usernamediv" class="col-md-12">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new {@id="UserName", @class = "form-control", @autofocus = "", @placeholder = "User Name*"} })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control username", @placeholder = "First Name*" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control username", @placeholder = "Last Name*" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email*" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new {@id="MobileNo", @class = "form-control", @placeholder = "Mobile No*", @onchange="checklength();", @spinners=false } })
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(x => x.LevelId, new SelectListItem[]{
                                                        new SelectListItem() {Text = "25 Kits", Value="25"},
                                                        new SelectListItem() {Text = "16 Kits", Value="16"},
                                                        new SelectListItem() {Text = "10 Kits", Value="10"},
                                                        new SelectListItem() {Text = "7 Kits", Value="7"},
                                                        new SelectListItem() {Text = "4 Kits", Value="4"},
                                                        new SelectListItem() {Text = "3 Kits", Value="3"},
                                                        new SelectListItem() {Text = "2 Kits", Value="2"},
                                                        new SelectListItem() {Text = "1 Kit", Value="1"}}, "--Select No of Kits--",
                                                        new {@class="form-control",@id="NoOfKits" }) 
                                        @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "Password", @class = "form-control", @placeholder = "Password*" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div  id="cpassdiv" class="col-md-12">
                                        @Html.EditorFor(model => model.ConfPass, new { htmlAttributes = new { @id = "ConfPassword", @class = "form-control", @placeholder = "Confirm-Password*", @onchange = "Matchpass();" } })
                                        @Html.ValidationMessageFor(model => model.ConfPass, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        @Html.HiddenFor(model => model.ReferralCode, new { htmlAttributes = new {@id= "ReferralCode"} })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="checkbox col-md-12">
                                        <label>
                                            @Html.EditorFor(x => x.CheckTerm)&nbsp;&nbsp;I Agree Terms & Coditions
                                            @Html.ValidationMessageFor(model => model.CheckTerm, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div  class="col-md-12">
                                        You are Referred By Mr. &nbsp;<label id="RefdFullName" class="label" style="color:#05ab1b"></label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 m-t-15 text-center">
                                    <button id="oldregbtn" type="submit" style="width:225px" class="btn btn-primary btn-flat border-radius-7">Register</button>
                                </div>
                                @*<div class="social-button mt-2 col-md-12">
                                    <div class="col-md-6">
                                        <button type="button" class="btn social facebook btn-flat btn-addon mt-2 mb-2"><i class="ti-facebook ml--22"></i>Register with facebook</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" style="background-color:#d34836; color:white" class="btn social google-plus btn-flat  mt-2 mb-2"><i class="ti-google fa-google-plus ml--22"></i>Register  with  google+</button>
                                    </div>
                                </div>*@
                                <div class="form-group col-md-12">
                                    <div class="register-link m-t-15 text-center">
                                        <p>Already have an account ? <a href="~/User/Login"> Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
</div>