﻿
@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div id="divcard" class="card mt-5  col-md-offset-4">
            <div class=" container">
                <div class="card-header">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Reset Your Password</h3>
                        </div>

                    </div>
                </div>
                <div class="label">
                    <input id="useremail" type="hidden" value="@ViewBag.Message" />
                    <label id="useremai" class="label label-primary">Reset Password for @ViewBag.Message</label>


                </div>
                <div class="card-body">
                    <div id="fornew" class="form-group">
                        <div class="input-group form-group">
                            <span class="input-group-addon">
                                <i class="ti-pencil-alt"></i>
                            </span>
                            <input id="NewPassword" type="password" class="form-control col-md-10" name="email" placeholder="New Password*" required autofocus />
                        </div>
                    </div>
                    <div id="forconf" class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="ti-pencil"></i>
                            </span>
                            <input id="ConfPassword" type="password" class="form-control col-md-10" name="email" placeholder="Confirm-Passowrd*" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group col-md-offset-1 col-md-12">
                            <button id="btnResetPassword" type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                        </div>
                        <div class="form-group text-center">
                            <a href="~/Home/Login">Sign In!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

